# common
*.exe
*.dll
*.res
*.so

# lazarus and fpc
backup/
lib/
bin/
!examples/lazarus/bin/README.txt
*.lps
*.ppu
*.compiled
*.o

# delphi
__history/
__recovery/
*.dcu
*.local
*.identcache
*.rsm
